
<section class="announcementSection">
    <div class="container-fluid information-container">
        <h4 class="pb-2 font-weight-bold">Important Notice:</h4>
        <p>New Level, New Timetable starting May!</p>
    </div>
</section>