
<section class="announcementSection">
    <div class="container-fluid information-container">
        <p>No regular classes the week after Easter - Tuesday 22 April.</p>
        <p>Replaced by social dance 8.30-10pm at Te Whaea in Newtown.</p>
    </div>
</section>
