
<section class="announcementSection">
    <div class="container-fluid information-container">
        <p>Last class for 2024 is Tuesday 10 December</p>
        <p>Classes start back on Tuesday 21 January 2025</p>
    </div>
</section>