
<section class="announcementSection">
    <div class="container-fluid information-container">
        <h4 class="pb-2 font-weight-bold">We are moving!</h4>
        <p>New timetable and new class location from 3 September.</p>
        <p>Classes will be held in studios 1&2 and studio 6 at Te Auaha - 65 Dixon Street.</p>
    </div>
</section>