
<section class="announcementSection">
    <div class="container-fluid information-container">
        <p>Last class for 2025 is Tuesday 25 November</p>
        <p>Classes start back late January 2026. Follow us on <a href="https://www.facebook.com/SwingCentralNZ">Facebook</a> for updates.</p>
    </div>
</section>