<section class="announcementSection">
  <div class="container-fluid information-container">
    <h4 class="pb-2 font-weight-bold">Important Notice:</h4>
    <p>ANZAC day will have an extended social dance instead of regular classes. 8&ndash;10pm, $5 only entry.</p>
  </div>
</section>

