
<section class="announcementSection">
    <div class="container-fluid information-container">
        <h4 class="pb-2 font-weight-bold">Important Notice:</h4>
        <p>Final class of 2023 will be Tuesday 12 December.</p>
        <p>We will return in 2024 on the 23rd of January - see you then!</p>
    </div>
</section>