<footer id="footer" >
  <div class="container-fluid">
    <div class="upper-footer colouredSection">
      <a class="fab social-icon fa-facebook-square large" target="_blank" href="https://www.facebook.com/SwingCentralNZ/"></a>
      <a class="fas social-icon fa-envelope large" href="/contact-us"></a>
    </div>
    <div class="lower-footer medium">
      <p class="footer-company">Swing Central Ltd.</p>
    </div>

  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="js/index.js"></script>

</body>

</html>
