<footer id="footer">
  <div class="container-fluid">
    <div class="upper-footer">
      <a class="fab social-icon fa-facebook-square" target="_blank" href="https://www.facebook.com/SwingCentralNZ/"></a>
      <a class="fas social-icon fa-envelope" href="/contact-us"></a>
    </div>
    <div class="lower-footer">
      <p class="footer-company">Swing Central Ltd.</p>
    </div>

  </div>
</footer>

</body>

</html>
