<%- include("partials/header") -%>



<section id="information" class="lightSection">
  <div class="container-fluid information-container">
    <h1>Classes Every Tuesday Night</h1>
    <p>We run classes every Tuesday night. Beginners can start any week.</p>

  </div>
</section>

<section id="class-event-details" class="colouredSection">
  <div class="container-fluid">
    Class details: Every Tuesday @ Full Swing Studios
    Level 2 / Improvers: 7:30 pm
    Level 1 / Beginners: 8:20pm
    Freestyle Dance: 9:10pm
    Full Swing studios are above Glassons on Cuba Street. The entrance is around the corner on Dixon Street.
  </div>
</section>

<section id="map" class="lightSection">
  <div class="container-fluid">


  </div>
</section>




<%- include("partials/footer") -%>
