<%- include("partials/header") -%>



<section id="class-event-details" class="lightSection">
  <div class="container-fluid information-container">
    <h1>Classes Every Tuesday Night</h1>
    <p>We run classes every Tuesday night. Beginners can start any week.</p>

    <p>Class details: Every Tuesday @ Full Swing Studios</p>
    <p>Level 2 / Improvers: 7:30 pm</p>
    <p>Level 1 / Beginners: 8:20pm</p>
    <p>Freestyle Dance: 9:10pm</p>
    <p>Full Swing studios are above Glassons on Cuba Street. The entrance is around the corner on Dixon Street.</p>


  </div>
</section>

<section id="pricing" class="colouredSection">
  <div class="container-fluid  ">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 ">
          <div class="pricingTable  mx-auto">
            <div class="pricingTable-header">
              <h3 class="pass-type medium">BEGINNER'S 5-TRIP PASS</h3>
              <span class="price-value giant">
                <span class="currency large">$</span> 45
              </span>
            </div>
            <div class="pricing-content">
              <ul class="medium">
                <li>5 Nights of Dancing</li>

                <li>Valid for Level 1 Classes Only</li>
                <li>Includes Freestyle</li>
              </ul>
              <div class="not-button small">
                ENQUIRE AT CLASS
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6  mx-auto">
          <div class="pricingTable mx-auto">
            <div class="pricingTable-header">
              <h3 class="pass-type medium">10-TRIP PASS</h3>
              <span class="price-value giant">
                <span class="currency large">$</span> 90
              </span>
            </div>
            <div class="pricing-content">
              <ul class="medium">
                <li>10 Nights of Dancing</li>
                <li>Valid for Level 1 AND Level 2 Classes</li>
                <li>Includes Freestyle</li>

              </ul>
              <div class="not-button small">
                ENQUIRE AT CLASS
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map" class="lightSection">
  <div class="container-fluid">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.793667773868!2d174.77430885061028!3d-41.29159484855265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38afd70d1257cb%3A0x4ea9316fda08cad!2s80+Cuba+St%2C+Te+Aro%2C+Wellington+6011!5e0!3m2!1sen!2snz!4v1553494497752"
      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>
</section>




<%- include("partials/footer") -%>
