<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Classes Every Tuesday Night</h1>

    <div class="mb-3">
      <div class="row no-gutters class-box m-5 mx-auto">
        <div class="col-lg-6">
          <img src="images/class-img.jpg" class="classes-height" alt="Tuesday Class">
        </div>
        <div class="col-lg-6">
          <div class="p-4">
            <h4 class="card-title m-3">TUESDAY NIGHT CLASS</h4>
            <div>
              <p>Beginners are ALWAYS welcome and can start any week!</p>
              <p>Location: 80 Cuba Street (above Glassons)</p>
              <p>Level 2 / Improvers: 7:30 pm<br>Level 1 / Beginners: 8:20 pm<br>Freestyle Dance: 9:10 pm</p>
              <div class="casual-pricing">
                <h5>Casual Pricing</h5>
                <p>$12 Full Price<br>$10 Student Price</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="map" class="lightSection pt-0">
  <div class="container-fluid">
    <h1 class="pt-0 pb-2">Find Us</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2997.793667773868!2d174.77430885061028!3d-41.29159484855265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38afd70d1257cb%3A0x4ea9316fda08cad!2s80+Cuba+St%2C+Te+Aro%2C+Wellington+6011!5e0!3m2!1sen!2snz!4v1553494497752"
      class="map" frameborder="0" allowfullscreen></iframe>
  </div>
</section>

<section id="pricing" class="colouredSection">
  <div class="container-fluid  ">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 ">
          <div class="pricingTable my-5 mx-0 mx-auto">
            <div class="pricingTable-header py-4 px-0">
              <h3 class="pass-type mt-0 medium">BEGINNER'S 5-TRIP PASS</h3>
              <span class="price-value giant">
                <span class="currency large">$</span> 45
              </span>
            </div>
            <div class="pricing-content">
              <ul class="medium m-0 py-4 px-3">
                <li class="py-3 px-0">5 Nights of Dancing</li>
                <li class="py-3 px-0">Valid for Level 1 Classes Only</li>
                <li class="py-3 px-0">Includes Freestyle</li>
                <li class="py-3 px-0">Valid for 6 Months</li>
              </ul>
              <form action="https://stripe.swingcentral.nz/charge/beginnersfive" class="pb-5" method="POST">
                <input class="referral-source" name="source" type="hidden" value="direct-page" />
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_iANvdvegEZKg8MzFqzHGT4SG" data-amount="4500" data-name="Swing Central Ltd" data-description="Beginners Five-Trip Ticket" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto" data-currency="nzd">
                </script>
              </form>
              <!-- <a class="btn btn-primary btn-lg px-4 mb-5" href="/success" role="button">BUY NOW</a> -->
            </div>
          </div>
        </div>

        <div class="col-lg-6  mx-auto">
          <div class="pricingTable my-5 mx-0 mx-auto">
            <div class="pricingTable-header py-4 px-0">
              <h3 class="pass-type mt-0 medium">10-TRIP PASS</h3>
              <span class="price-value giant">
                <span class="currency large">$</span> 90
              </span>
            </div>
            <div class="pricing-content">
              <ul class="medium m-0 py-4 px-3">
                <li class="py-3 px-0">10 Nights of Dancing</li>
                <li class="py-3 px-0">Valid for Level 1 AND Level 2 Classes</li>
                <li class="py-3 px-0">Includes Freestyle</li>
                <li class="py-3 px-0">Valid for 6 Months</li>
              </ul>
              <form action="https://stripe.swingcentral.nz/charge/tentrip" class="pb-5" method="POST">
                <input class="referral-source" name="source" type="hidden" value="direct-page" />
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_live_iANvdvegEZKg8MzFqzHGT4SG" data-amount="9000" data-name="Swing Central Ltd" data-description="Regular Ten-Trip Ticket" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                  data-locale="auto" data-currency="nzd">
                </script>
              </form>
              <!-- <a class="btn btn-primary btn-lg px-4 mb-5" href="/success" role="button">BUY NOW</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
