<%- include("partials/header") -%>

<section id="information" class="lightSection">
  <div class="container-fluid  information-container">
    <h1>Contact Us</h1>
    <h5>Please get in touch if you have any questions.</h5>
    <h5 class="pt-4">You can find us on <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/"
        class="font-weight-bold">Facebook</a>.</h5>
    <h5 class="pt-1">Alternatively, email us via the form below</h5>
  </div>
</section>

<section id="get-in-touch" class="colouredSection">
  <div class="container-fluid contact my-5 mx-auto large">
    <form class="contact-form row p-3" action="/send-email" method="post">
      <div class="form-field my-4 mx-0 col-lg-6">
        <input id="name" class="input-text small" name="name" type="text" required>
        <label class="label medium normal-label" for="name">NAME</label>
      </div>
      <div class="form-field my-4 mx-0 col-lg-6 ">
        <input id="email" class="input-text small" name="email" type="email" required>
        <label class="label medium normal-label" for="email">E-MAIL</label>
      </div>
      <div class="form-field my-4 mx-0 col-lg-12 ">
        <input id="company" class="input-text small" name="subject" type="text" required>
        <label class="label medium normal-label" for="subject">SUBJECT</label>
      </div>
      <div class="form-field my-4 mx-0 col-lg-12">
        <textarea class="input-text small message-textarea" name="message"></textarea>
        <label class="label medium message-label" for="message">MESSAGE</label>
      </div>
      <div class="form-field col-lg-12">
        <div class="row mx-auto">
          <div class="g-recaptcha recaptcha" data-sitekey="6Ldg9rYUAAAAADQ4gN-yBW49BP-iFHmdf97Ylsdd"
            data-callback="enableBtn"></div>
        </div>
        <div class="row">
          <input id="formBtn" class="submit-btn mx-auto py-2 px-3 medium" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>
</section>

<!-- RECAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="../js/recaptcha.js"></script>

<%- include("partials/footer") -%>