<%- include("partials/header") -%>

<section id="information" class="lightSection">
  <div class="container-fluid">
    <h3>Sorry, there was an error processing your email.</h3>
    <p>Please <a href="/contact-us">TRY AGAIN</a> in a few minutes.</p>
    <p>Alternatively you can contact us on <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a>, or email us at swingcentral@sc.com</p>
  </div>
</section>

<%- include("partials/footer") -%>
