<%- include("partials/header") -%>


<section id="information" class="lightSection">
  <div class="container-fluid my-5">
    <h2 class="pb-5">Your email was successfully sent!</h2>
    <h5>We will get back in touch with you shortly.</h5>
</section>


<%- include("partials/footer") -%>
