<%- include("partials/header") -%>

<section id="information" class="lightSection">
  <div class="container-fluid">
    <h3>Your email was successfully sent!</h3>
    <p>
      We will get back in touch with you shortly.
    </p>
</section>

<%- include("partials/footer") -%>
