<%- include("partials/header") -%>


<section id="information" class="lightSection">
  <div class="container-fluid my-5">
    <h2 class="pb-5">Sorry, there was an error processing your email.</h2>
    <h5 class="pb-2">Please <a href="/contact-us" class="font-weight-bold">TRY AGAIN</a> in a few minutes.</h5>
    <h5>Alternatively you can contact us on <a target="_blank" class="font-weight-bold" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a>, or email us at swingcentral@sc.com</h5>
  </div>
</section>


<%- include("partials/footer") -%>
