<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Local Events</h1>

    <div class="mb-3 ">
      <div class="row no-gutters class-box classes mx-auto ">
        <div class="col-lg-6">
          <img src="images/FULLSIZE.jpg" class="class-img classes-height" alt="Tuesday Class">
        </div>
        <div class="col-lg-6 classes-height">
          <div class=" event-text pl-4">
            <h3 class="event-title p-0 mb-4">Sun 28 April</h3>
            <h4 class="card-title">SUNDAY CHILL SESSION</h4>
            <div>
              <p>Come join us for our next chill session at the Bristol.<br>We have a room booked upstairs for some dancing and drinks.<br></p>
              <p>Location: The Bristol, 131 Cuba Street</p>
              <p>Time: X:XX - X:XX pm</p>
              <div class="casual-pricing">
                <h5>FREE</h5>
                <p>Just buy a drink or a snack at the bar!</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters class-box classes mx-auto ">
        <div class="col-lg-6">
          <img src="images/FULLSIZE.jpg" class="class-img classes-height" alt="Tuesday Class">
        </div>
        <div class="col-lg-6 classes-height">
          <div class=" event-text pl-4">
            <h3 class="event-title p-0 mb-4">TBC</h3>
            <h4 class="card-title">SWING CENTRAL DANCE PARTY</h4>
            <div>
              <p>Come dance the night away with us!!</p>
              <p>Location: 80 Cuba Street</p>
              <p>Time: 8:00 - 11:00 pm<br>8pm: Icebreaker<br>9:45pm: Supper</p>
              <div class="casual-pricing">
                <h5>$15</h5>
                <br>
                <h5>See <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a> for more details.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
