<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Local Events</h1>

    <!-- <div class="row no-gutters class-box m-5 mx-auto">
      <div class="col-lg-6">
        <img src="images/block-img.jpg" class="classes-height" alt="Block Course">
      </div>
      <div class="col-lg-6">
        <div class="m-4">
          <h3 class="p-0 mb-4">Tuesdays in June</h3>
          <h4 class="card-title">BEGINNERS BLOCK COURSE</h4>
          <div>
             remember to change this back to 4 weeks for our next block course 
            <p>Come join us for our next beginners course - designed to take you from zero to dancing in just one month!<br>
            </p>
            <p>Location: 80 Cuba Street</p>
            <p>Time: 8:15 pm every Tuesday in June</p>
            <div class="casual-pricing pb-3">
              <h5>SPECIAL: $29 for 5 classes</h5>
            </div>
            <div>
              <form action="https://stripe.swingcentral.nz/charge/beginnersblock" method="POST">
                <input class="referral-source" name="source" type="hidden" value="direct-page" />
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="pk_live_iANvdvegEZKg8MzFqzHGT4SG" data-amount="2900" data-name="Swing Central Ltd"
                  data-description="Beginners' Block Discount - June"
                  data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
                  data-currency="nzd">
                </script>
              </form>
            </div>
            <div>
            <p class="pt-3">See <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a> for
              more details.</p>
          </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="row no-gutters class-box m-5 mx-auto ">
      <div class="col-lg-6">
        <img src="images/party-img.jpg" class="classes-height" alt="Dance Party">
      </div>
      <div class="col-lg-6">
        <div class="px-4 pt-4">
          <h3 class="p-0 mb-4">Sat 12 November</h3>
          <h4 class="card-title">SWING CENTRAL DANCE PARTY</h4>
          <div>
            <p>Come join Swing Central for a party, West Coast style!!</p>
            <p>Location: 80 Cuba Street</p>
            <p>Time: 8:00 - 11:00 pm</p>
            <div class="casual-pricing">
              <h5>$15</h5>
              <p class="pt-3">See <a target="_blank" href="https://www.facebook.com/events/842869033734441/">Facebook</a> for
              more details.</p>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <h2>Past Events</h2>

    <div class="mb-3 ">
      <div class="row no-gutters class-box m-5 mx-auto">
      <div class="col-lg-6">
        <img src="images/swingvasion.png" class="classes-height" alt="Swingvasion">
      </div>
      <div class="col-lg-6">
        <div class="m-4">
          <h3 class="p-0 mb-4">March 10 - 12 2023</h3>
          <h4 class="card-title">Swingvasion</h4>
          <div>
            <p>Come join us for Swing Central's inaugural West Coast Swing event, Swingvasion.</p>
            <p>Join us for 3 days of workshops, social dancing, and a fun competition, all hosted on the stunning Wellington waterfront.</p>
            <p>We've got a lot of exciting news to announce over the coming months, so watch this space!</p>
            <div>
              <p class="pt-3">See our <a target="_blank" href="https://www.facebook.com/events/537871491498735/">Facebook event</a> and <a target="_blank" href="/swingvasion">Swingvasion page</a>
                for more details.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
</section>

<section id="nz-events" class="colouredSection pt-5 pb-0 px-0">
  <div class="container-fluid">
    <h1 class="px-2 pb-5">New Zealand Events</h1>
    <div class="container">
      <div class="card-deck">

        <div class="card event-card-width col-lg-4 mx-auto pt-5 mb-5">
          <img class="card-img-top eventlogos mx-auto" src="images/code03swing.jpg" alt="Events-Picture">
          <div class="card-body">
            <h4 class="card-title">Shakedown Swing</h4>
            <p class="card-text">25-27 August 2023</p>
            <p class="card-text">Christchurch</p>
            <p>
              <a target="_blank" href="https://www.facebook.com/events/681637713962102">Learn more</a>
            </p>
          </div>
        </div> 

        <div class="card event-card-width col-lg-4 mx-auto pt-5 mb-5">
          <img class="card-img-top eventlogos mx-auto" src="images/streetswing.jpg" alt="Events-Picture">
          <div class="card-body">
            <h4 class="card-title">New Zealand Open</h4>
            <p class="card-text">13-15 October 2023</p>
            <p class="card-text">Auckland</p>
            <p>
              <a target="_blank" href="https://www.streetswing.co.nz/the-new-zealand-open">Learn more</a>
            </p>
          </div>
        </div> 

      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
