<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Local Events</h1>

    <div class="mb-3 ">
      <div class="row no-gutters class-box m-5 mx-auto">
        <div class="col-lg-6">
          <img src="images/chill-img.jpg" class="classes-height" alt="Sunday Chill Session">
        </div>
        <div class="col-lg-6">
          <div class="p-4">
            <h3 class="p-0 mb-4">Sun 28 April</h3>
            <h4 class="card-title m-3">SUNDAY CHILL SESSION</h4>
            <div>
              <p>Come join us for our next chill session at the Bristol for some dancing and drinks.<br></p>
              <p>Location: The Bristol, 131 Cuba Street</p>
              <p>Time: X:XX - X:XX pm</p>
              <div class="casual-pricing">
                <h5>FREE</h5>
                <p>Just buy a drink or a snack at the bar!</p>
                <p class="pt-3">See <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a> for more details.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row no-gutters class-box m-5 mx-auto">
        <div class="col-lg-6">
          <img src="images/block-img.jpg" class="classes-height" alt="Block Course">
        </div>
        <div class="col-lg-6">
          <div class="m-4">
            <h3 class="p-0 mb-4">Tuesdays in May</h3>
            <h4 class="card-title">BEGINNERS BLOCK COURSE</h4>
            <div>
              <p>Come join us for our next beginners course - designed to take you from zero to dancing in 4 weeks!<br></p>
              <p>Location: 80 Cuba Street</p>
              <p>Time: 8:20 pm every Tuesday in May</p>
              <div class="casual-pricing">
                <h5>SPECIAL: $29 for 4 classes</h5>
                <p class="pt-3">See <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a> for more details.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row no-gutters class-box m-5 mx-auto ">
        <div class="col-lg-6">
          <img src="images/party-img.jpg" class="classes-height" alt="Dance Party">
        </div>
        <div class="col-lg-6">
          <div class="px-4 pt-4">
            <h3 class="p-0 mb-4">Sat 25 May</h3>
            <h4 class="card-title">SWING CENTRAL DANCE PARTY</h4>
            <div>
              <p>Come dance the night away with us!!</p>
              <p>Location: 80 Cuba Street</p>
              <p>Time: 8:00 - 11:00 pm</p>
              <p>8:00 pm: Icebreaker<br>9:45 pm: Supper</p>
              <div class="casual-pricing">
                <h5>$15</h5>
                <p class="pt-3">See <a target="_blank" href="https://www.facebook.com/SwingCentralNZ/">Facebook</a> for more details.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="nz-events" class="colouredSection pt-5 pb-0 px-0">
  <div class="container-fluid">
    <h1 class="px-2 pb-5">New Zealand Events</h1>
    <div class="container">
      <div class="card-deck">
        <div class="card  event-card-width col-lg-4 mx-auto pt-5 mb-5">
          <img class="card-img-top eventlogos mx-auto" src="images/code03swing.jpg" alt="Classes-Picture">
          <div class="card-body">
            <h4 class="card-title">Shakedown Swing</h4>
            <p class="card-text">23 - 26 August 2019</p>
            <p class="card-text">Christchurch</p>
            <p>
              <a target="_blank" href="https://www.code03swing.com/about-1">Learn more</a>
            </p>
          </div>
        </div>
        <div class="card event-card-width col-lg-4 mx-auto pt-5 mb-5">
          <img class="card-img-top eventlogos mx-auto" src="images/streetswing.jpg" alt="Events-Picture">
          <div class="card-body">
            <h4 class="card-title">New Zealand Open</h4>
            <p class="card-text">25 - 27 October 2019</p>
            <p class="card-text">Auckland</p>
            <p>
              <a target="_blank" href="https://www.streetswing.co.nz/the-new-zealand-open">Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
