<%- include("partials/header") -%>



<section id="class-event-details" class="lightSection">
  <div class="container-fluid information-container">
    Check out all these awesome events
    </div>
</section>





<%- include("partials/footer") -%>
