<%- include("partials/header") -%>



<section id="information" class="lightSection">
  <div class="container-fluid information-container">
    Check out all these awesome events
    </div>
</section>

<section id="class-event-details" class="colouredSection">
  <div class="container-fluid">
Misc events to be added here - Wellington and other NZ
  </div>
</section>



<%- include("partials/footer") -%>
