<%- include("partials/header") -%>

<!-- Title -->
<section id="information" class="lightSection">
  <div class="container-fluid information-container">
    <h2 class="pb-5">Frequently Asked Questions</h2>
    <div class="text-left">

      <p class="font-weight-bold">What is West Coast Swing? </p>
      <p class="mb-4">West Coast Swing is a fun, social partner dance that originated in the United States of America, and has since taken the rest of the world by storm.</p>

      <p class="font-weight-bold">I haven't danced before - is this class for me? </p>
      <p class="mb-4">Definitely! We love having new people in our community. Many of us began West Coast Swing with no previous dance experience. </p>

      <p class="font-weight-bold">Who can learn to dance?</p>
      <p class="mb-4">We firmly believe that anyone can learn to dance. Come and give it a go, even if you have "two left feet". By trying, it's amazing what you can achieve in a short period of time!</p>

      <p class="font-weight-bold">Do I need to book in advance? </p>
      <p class="mb-4">No! Just turn up on any Tuesday ready to do some dancing and meet some new people. We teach beginners classes every week - so you don't need to book in for a course.</p>

      <p class="font-weight-bold">Do I need to bring a dance partner? </p>
      <p class="mb-4">No! We rotate partners during the class, so you will get to dance with everyone in the room. However, do feel free to bring friends along!</p>

      <p class="font-weight-bold">What should I wear? </p>
      <p class="mb-4">You don't need to wear anything in particular to come dancing - just wear something that you are comfortable in! You'll find a lot of us dancing in casual eveyday clothes or gym wear. Feel free to wear whatever you like. We do
        recommend wearing soft shoes that allow you to move around freely - come ask our staff if you have any more questions about shoes!</p>

      <p class="font-weight-bold">How much are classes? </p>
      <p>Single classes are $15.00 (or $13.00 for students).<br>This includes the dance class(es) and social dancing at the end of the night!</p>
      <p class="mb-4">We also have discounted multi-trip passes available: <br>$55.00 for a beginners 5-trip pass<br>$120.00 10-trip pass </p>

      <p class="font-weight-bold">Can I pay via eftpos? </p>
      <p class="mb-4">No, we only accept cash in class - there are several ATMs close by. We can also accept money via bank transfer - please get in touch for more details if you are interested. </p>

    </div>
  </div>
</section>

<%- include("partials/footer") -%>
