<%- include("partials/header") -%>


<section id="title">
  <div class="container-fluid crop-container">
    <img class="main-image" src="images/block-img.jpg" alt="People Dancing">
  </div>
</section>


<section id="information" class="lightSection">
  <div class="container-fluid information-container">
    <h1>Learn to DANCE at Swing Central</h1>
    <h3>Wellington's West Coast Swing Hub</h3>
    <p>We offer dance classes on a Tuesday night with a friendly social atmosphere and great music. </p>
    <p> Come along for a great night out!!</p>
    <p>West Coast Swing is a fun, social dance style for people of all ages and abilities and is a great way to keep fit and meet people!</p>
    <br>
    <p><span class="font-weight-bold">Beginners</span> can start any Tuesday at 8.30pm, no partner needed. Just bring yourself, a bottle of water and comfy shoes.</p>
    <p>
      No experience needed! No partner needed! Come with your friends or by yourself!</p>
  </div>
</section>


<!-- YOUTUBE VIDEO -->
<section id="video" class="colouredSection">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <iframe class="video-size" src="https://www.youtube.com/embed/v4fRV0aG3lc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>


<!-- Page Links -->
<section id="page-links" class="lightSection py-5 px-0">
  <div class="container-fluid">
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="images/class-img.jpg" alt="Classes-Picture">
          <div class="card-body">
            <h4 class="card-title">Classes</h4>
            <p class="card-text">We run classes every Tuesday night. Follow the link for more information.</p>
            <p>
              <a href="/classes">Learn more</a>
            </p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="images/party-img.jpg" alt="Events-Picture">
          <div class="card-body">
            <h4 class="card-title">Events</h4>
            <p class="card-text">Keen to dance more West Coast Swing? Check out upcoming events around New Zealand.</p>
            <p>
              <a href="/classes">Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
