<%- include("partials/header") -%>

<section id="title">
  <div class="container-fluid">
    <img class="Main-Image" src="images/Dance-Image.jpg" alt="People Dancing">
  </div>



</section>

<section id="information">
  <div class="container-fluid">
    <h1>Learn to dance at Swing Central</h1>
    <h2>Wellington's newest West Coast Swing Hub</h2>
    <p>We offer dance classes on a Tuesday night with a friendly social atmosphere and great music. </p>
    <p> Come along for a great night out!!</p>
    <p>West Coast Swing is a fun, social dance style for people of all ages and abilities and is a great way to keep fit and meet people!</p>
    <p>Beginners can start any Tuesday at 8.30pm, no partner needed. Just bring yourself, a bottle of water and comfy shoes.</p>
    <p>
      No experience needed! No partner needed! Come with your friends or by yourself!</p>



  </div>
</section>

<!-- Call To Action -->
<section id="cta">
  <div class="container-fluid">
    <!-- classes
    events -->
  </div>

</section>


<%- include("partials/footer") -%>
