<%- include("partials/header") -%>


<section id="information" class="lightSection">
  <div class="container-fluid my-5">
    <h2 class="pb-5">Sorry there was an issue with your payment.</h2>
    <h5>Please try again or contact us. Remember you can always pay in class!</h5>
</section>


<%- include("partials/footer") -%>
