<%- include("partials/header") -%>

<section id="information" class="lightSection">
  <div class="container-fluid my-5">
    <h2 class="pb-5">Your payment was successful!</h2>
    <h5>Look forward to seeing you at class!</h5>
</section>

<%- include("partials/footer") -%>
