<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion</h1>
    <h2>Friday 10 March to Sunday 12 March 2023</h2>
    <h3>The Rowing Club, Wellington</h3>

        <div class="mx-auto">
          <div class="m-4">
            <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSdkVtLN6oUw6UD0j3i7W6wUCPFCuT99Gps4-ve6KA_UnEqYAw/viewform?usp=sf_link" role="button">Register</a></p>
          </div>
        </div>

    <div class="mb-3" style="text-align: start;">
      <div class="swingvasion-box m-5 mx-auto">
        <img src="images/swingvasion.png" style="width: 100%;" />

        <div class="p-5 mx-auto" style="max-width: 70%;">
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Event Details</h4>
              <ul>
                <li>Doors open 7:30pm on Friday 10th March</li>
                <li>Jack & Jill and Strictly competition</li>
                <li>Pro shows</li>
                <li>Lots of social dancing</li>
                <li>6 hours of workshops across Friday - Sunday</li>
                <li>Private Lessons</li>
              </ul>
            </div>
          </div>
    
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Introducing our Pro Staff:</h4>
              <ul>
                <li>JP Masson & Emma Collyer from Sydney</li>
                <li>Maddy Platts & Zac Skinner from Brisbane</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Ticketing Details</h4>
              <ul>
                <li>$185 for early bird - register and pay by 20 January 2023</li>
                <li>$215 for registrations after 20 January 2023</li>
                <li>Tickets include entry to all workshops, competitions and social dancing.</li>
                <li>Register using the link at the top or bottom of the page.</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Schedule</h4>
              <ul>
                <li>This is a draft schedule. Times are subject to change.</li>
                <li>Friday &ndash; Doors open 7:30pm for first event workshop at 8pm, followed by social dancing till late(ish) and some pro demos.</li>
                <li>Saturday &ndash; Workshops start around 11am. If you are competing, heats &amp; semi-finals will be in the afternoon. Doors re-open after dinner break at 7:15pm and finals from 7:30pm, dancing through till late.</li>
                <li>Sunday &ndash; Last weekend workshops start around midday, social dancing until packdown at 4pm. Have to be out by 5pm.</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Accommodation </h4>
              <p>As our location is in the center of Wellington, there are many accommodation options within a 10 minute walk.</p>
              <p>Some options include:</p>
              <ul>
                <li>West Plaza Hotel - 500m from the venue</li>
                <li>U Residence Hotel Wellington - 400m from the venue</li>
                <li> Nomads Capital Hostel Wellington - 550m from the venue</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

        <div class="mx-auto">
          <div class="m-4">
            <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSdkVtLN6oUw6UD0j3i7W6wUCPFCuT99Gps4-ve6KA_UnEqYAw/viewform?usp=sf_link" role="button">Register</a></p>
          </div>
        </div>

  </div>
</section>


<%- include("partials/footer") -%>
