<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion Schedule</h1>

    <div class="mb-3" style="text-align: start;">

      <div class="swingvasion-box m-5 mx-auto">
        <div class="mx-auto swingvasion-details">
          <div class="mx-auto" >
            <div class="m-4">

              <h3 class="p-0 mt-4">Levelled Workshops</h3>
              <p>This year we are running levelled workshops - please see the level descriptions below to help you determine which level is most appropriate for you.</p>

              <h4>Open</h4>
              <p>These workshops are targeted at all dancers. Everyone will be able to take something away from these workshops.</p>
              
              <h4>Level 2</h4>
              <p>This workshop is targeted at more experienced dancers. Dancers likely have at least 12 months of experience dancing WCS. Dancers are expected to have fluent recall & application of basic patterns, and an understanding of more complex techniques such as Rock’n’go’s and Hitches. This is intended to challenge dancers by including more complex patterns or detailed technique.</p>
              
              <h4>Level 3</h4>
              <p>This workshop is targeted at our higher level dancers. You must be a WSDC Intermediate or Advanced dancer in order to attend.</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="swingvasion-box m-5 mx-auto">
        <div class="mx-auto swingvasion-details">
          <div class="mx-auto" >
            <div class="m-4">

              <h3 class="p-0 mt-4">Friday</h3>
              <p>7:30pm: Doors Open</p>
              <p>8:00pm: Open Workshop - Zac and Maddy</p>
              <p>9:00pm: Social Dancing</p>
              <p>10:00pm: Pro Show</p>
              <p>11:00pm: Musical Steals</p>
              <p>11:30pm: Social Dancing</p>
              <p>1:00am: Close</p>

              <h3 class="p-0 mt-4">Saturday</h3>
              <p>10:30am: Doors Open</p>
              <p>11:00am: Open Workshop - JP and Emma</p>
              <p>12:00pm: Break</p>
              <p>12:30pm: Open Workshop - Mackenzie and Raushaniya</p>
              <p>1:30pm: Open Workshop - Tze</p>
              <p>1:30pm: L2 Workshop - Zac and Maddy</p>
              <p>2:30pm: Break</p>
              <p>3:00pm: Competition Prelims</p>
              <p>5:30pm: Dinner Break</p>
              <p>7:30pm: Competition Finals, followed by Invitational J&J</p>
              <p>11:00pm: Prizegiving</p>
              <p>11:30pm: Social Dancing</p>
              <p>3:00am: Close</p>

              <h3 class="p-0 mt-4">Sunday</h3>
              <p>10:30am: Doors Open</p>
              <p>11:00am: L2 Workshop - Mackenzie & Raushaniya</p>
              <p>12:00pm: Break</p>
              <p>12:30pm: Open Workshop - JP & Emma</p>
              <p>12:30pm: L3 Workshop - Tze</p>
              <p>1:30pm: Open Workshop - Tze</p>
              <p>2:30pm: Social Dancing</p>
              <p>4:00pm: Pack Down</p>
              <p>5:00pm: After Party!</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="swingvasion-box m-5 mx-auto">
        <img src="images/swingvasion-schedule.png" style="max-width: 100%;" alt="Swingvasion Schedule">
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
