<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion</h1>
    <h2>Friday 10 March to Sunday 12 March 2023</h2>
    <h3>The Rowing Club, Wellington</h3>

        <div class="mx-auto">
          <div class="m-4">
              <p>Online registration is now closed. Please contact the crew about availability if you are wanting a full weekend pass.</p>
          </div>
        </div>

    <div class="mb-3" style="text-align: start;">
      <div class="swingvasion-box m-5 mx-auto">
        <img src="images/swingvasion.png" style="width: 100%;" />

        <div class="p-5 mx-auto" style="max-width: 70%;">
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Event Details</h4>
              <ul>
                <li>Doors open 7:30pm on Friday 10th March</li>
                <li>Jack &amp; Jill and Strictly competition</li>
                <li>Pro shows</li>
                <li>Lots of social dancing</li>
                <li>6 hours of workshops across Friday - Sunday</li>
                <li>Private Lessons</li>
              </ul>
            </div>
          </div>
    
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Introducing our Pro Staff:</h4>
              <ul>
                <li>JP Masson &amp; Emma Collyer from Sydney</li>
                <li>Maddy Platts &amp; Zac Skinner from Brisbane</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Ticketing Details</h4>
              <ul>
                <li>$215 full entry</li>
                <li>$185 for early bird - register and pay by 20 January 2023</li>
                <li>Tickets include entry to all workshops, competitions and social dancing.</li>
                <li>Register using the link at the top or bottom of the page.</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/docs/swingvasion/etiquette.pdf">Etiquette &amp; Conduct</a></h4>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/docs/swingvasion/schedule-2023.pdf">Schedule</a></h4>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/docs/swingvasion/rowing-club-map.pdf">Venue Map</a></h4>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/swingvasion-competition-rules">Competition Rules</a></h4>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Accommodation </h4>
              <p>As our location is in the center of Wellington, there are many accommodation options within a 10 minute walk.</p>
              <p>Some options include:</p>
              <ul>
                <li>West Plaza Hotel - 500m from the venue</li>
                <li>U Residence Hotel Wellington - 400m from the venue</li>
                <li> Nomads Capital Hostel Wellington - 550m from the venue</li>
              </ul>
            </div>
          </div>
        </div>

      </div>

    </div>

        <div class="mx-auto">
          <div class="m-4">
              <p>Online registration is now closed. Please contact the crew about availability if you are wanting a full weekend pass.</p>
          </div>
        </div>

  </div>
</section>


<%- include("partials/footer") -%>
