<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion II</h1>
    <h2>Friday 1 March to Sunday 3 March 2024</h2>
    <h3 class="pb-0">Te Whaea - National Dance and Drama Centre</h3>
    <h4>11 Hutchison Road, Newtown, Wellington 6021</h4>
    <a href="https://danceconvention.net/eventdirector/en/eventpage/8121800" target="_blank" type="button" class="btn btn-primary btn-lg mt-4">Register</a>

    <div class="mb-3">
      <div class="swingvasion-box m-5 mx-auto">
        <img src="images/swingvasion-2.png" style="width: 100%;" />

        <div class="mx-auto swingvasion-details" style="text-align: start;" >
          <div class="mx-auto" >
            <div class="m-4">
              <p>Swingvasion is back to take over the Capital City in March 2024. With a spacious new venue, WSDC points up for grabs, and awe-inspiring pros, it'll be a terrific time. We can't wait to see you there!</p>
            </div>
          </div>
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Event Details</h4>
              <ul>
                <li>Kicking off 7pm Friday through to 4pm Sunday</li>
                <li>WSDC Jack &amp; Jill competitions</li>
                <li>Strictly competitions</li>
                <li>Pro shows</li>
                <li>Lots of social dancing</li>
                <li>Workshops across Friday - Sunday</li>
                <li>Private Lessons</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Introducing our Pro Staff:</h4>
              <ul>
                <li>Wee Tze Yi from Singapore</li>
                <li>JP Masson & Emma Collyer from Sydney</li>
                <li>Raushaniya Maksudova & Mackenzie Sharp from Brisbane</li>
                <li>Zac Skinner and Maddy Platts from Brisbane</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Ticketing Details</h4>
              <p>Registrations are open on <a href="https://danceconvention.net/eventdirector/en/eventpage/8121800">Dance Convention</a></p>
              <ul>
                <li>$210 for early bird passes</li>
                <li>$185 for international passes</li>
                <li>Tickets include entry to all workshops, competitions and social dancing</li>
              </ul>
            </div>
          </div>
    
          <!-- <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/docs/swingvasion/etiquette.pdf">Etiquette &amp; Conduct</a></h4>
            </div>
          </div> -->

          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/swingvasion-competition-rules">Competition Rules</a></h4>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/swingvasion-schedule">Event Schedule</a></h4>
            </div>
          </div>


          <div class="mx-auto">
            <div class="m-4">
              <p>Follow the Swingvasion event on <a href="https://www.facebook.com/events/2768611896612483" target="_blank">Facebook</a> for more announcements!</p>
            </div>
          </div>


      </div>
    </div>
    
    <div class="mx-auto">
      <div class="m-12"  style="text-align: center;">
        <a href="https://danceconvention.net/eventdirector/en/eventpage/8121800" type="button" class="btn btn-primary btn-lg" target="_blank">Register</a>

      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
