<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion</h1>
    <h2>Friday 1 March to Sunday 3 March 2024</h2>
    <h3>Venue To Be Announced</h3>

    <div class="mb-3">
      <div class="swingvasion-box m-5 mx-auto">

        <div class="mx-auto swingvasion-details" style="text-align: start;" >
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Event Details</h4>
              <ul>
                <li>WSDC Pointed Jack &amp; Jill competition</li>
                <li>Pro shows</li>
                <li>Lots of social dancing</li>
                <li>Workshops across Friday - Sunday</li>
                <li>Private Lessons</li>
              </ul>
            </div>
          </div>
    
          <div class="mx-auto" >
            <div class="m-4">
              <h4><a href="/docs/swingvasion/etiquette.pdf">Etiquette &amp; Conduct</a></h4>
            </div>
          </div>
      </div>
    </div>
    
    <div class="mx-auto">
      <div class="m-12"  style="text-align: center;">
          <p>Registration is not yet open. Please follow us on <a href="https://www.facebook.com/events/2768611896612483" target="_blank">Facebook</a> for announcements..</p>
      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
