<%- include("partials/header") -%>


<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion</h1>
    <h2>Friday 10 March to Sunday 12 March 2023</h2>
    <h3>The Rowing Club, Wellington</h3>

    <div class="mb-3" style="text-align: start;">
      <div class="swingvasion-box m-5 mx-auto">
        <img src="images/swingvasion.png" style="width: 100%;" />

        <div class="p-5 mx-auto" style="max-width: 70%;">
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Event Details</h4>
              <ul>
                <li>Doors open 7:30pm on Friday 10th March</li>
                <li>Jack & Jill and Strictly competition</li>
                <li>Pro shows</li>
                <li>Lots of social dancing</li>
                <li>6 hours of workshops across Friday - Sunday</li>
                <li>Private Lessons</li>
              </ul>
            </div>
          </div>
    
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Introducing our Pro Staff:</h4>
              <ul>
                <li>JP Masson & Emma Collyer from Sydney</li>
                <li>Maddy Platts & Zac Skinner from Brisbane</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Ticketing Details</h4>
              <ul>
                <li>$185 for early bird - register and pay by 20 January 2023</li>
                <li>$215 for registrations after 20 January 2023</li>
                <li>Tickets include entry to all workshops, competitions and social dancing</li>
                <li>The google form link for registration will be available in the next few days</li>
              </ul>
            </div>
          </div>

          <div class="mx-auto" >
            <div class="m-4">
              <h4>Accommodation </h4>
              <p>As our location is in the center of Wellington, there are many accommodation options within a 10 minute walk.</p>
              <p>Some options include:</p>
              <ul>
                <li>West Plaza Hotel - 500m from the venue</li>
                <li>U Residence Hotel Wellington - 400m from the venue</li>
                <li> Nomads Capital Hostel Wellington - 550m from the venue</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<%- include("partials/footer") -%>
