<%- include("partials/header") -%>



  <!-- Title -->

  <section id="information" class="lightSection">
    <div class="container-fluid">
    </div>
  </section>



<%- include("partials/footer") -%>
