body {
  text-align: center;
  background-color: black;
  font-family: 'Merriweather', serif;
  padding-top: 140px;
}

h1 {
  padding: 30px 0;
  font-weight: bold;
  font-size: 38px;
  letter-spacing: 2px;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  font-size: 30px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.small {
  font-size: 15px;
}

.medium {
  font-size: 20px;
}

.med-large {
  font-size: 24px;
}

.large {
  font-size: 30px;
}

.giant {
  font-size: 55px;
}



.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.colouredSection {
  background-color: grey;
  padding: 50px 0;
  margin: auto;
}

.lightSection {
  background-color: #dfe2e2;
  padding: 80px 0;
}

/* NAVBAR and TITLE*/
#navigation-bar {
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 140px;
  display: block;
  transition: top 0.5s;
  text-align: left;
  z-index: 9999;
}

.swing-central-logo {
  height: 8em;
}

.navbar {
  background-color: black;
}

.nav-link {
  line-height: 1;
}

.dropdown-menu {
  background-color: black;
}

.dropdown {
  cursor: pointer;
}

.dropdown-item {
  color: grey;
}

.dropdown-item:hover {
  background-color: black;
  color: white;
}

.Main-Image {
  width: 100%;
}

@media only screen and (max-width: 991px) {
  body {
    padding-top: 80px;
  }

  .swing-central-logo {
    height: 4em;
  }

  #navigation-bar {
    height: 80px;
  }

  .nav-link {
    font-size: 1rem;
  }

  .dropdown-item {
    font-size: 1rem;
  }
}

/* INFORMATION - HOME, FAQ, TEACHERS */
.information-container {
  width: 50%;
}


/* CLASS AND EVENT DETAILS */
.class-box{
  background-color: white;
    max-width: 80%;
}

.classes-height {
  height: 405px;
}

.class-img {
  max-width: 100%;
}


/* PRICING */
.pricingTable {
  text-align: center;
  max-width: 80%;
}

.pricingTable-header {
  background: #4d4d4d;
  position: relative;
}

.pass-type {
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

.price-value {
  display: inline-block;
  position: relative;
  font-weight: bold;
  left: 13px;
}

.currency {
  font-weight: bold;
  position: absolute;
  top: 6px;
  left: -26px;
}

.pricing-content {
  background: #fff;
  position: relative;
}

.pricing-content:before,
.pricing-content:after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  position: absolute;
  top: 12px;
}

.pricing-content:before {
  left: 40px;
}

.pricing-content:after {
  right: 40px;
}

.pricing-content ul {
  list-style: none;
}

.pricing-content ul:before,
.pricing-content ul:after {
  content: "";
  width: 8px;
  height: 46px;
  border-radius: 3px;
  background: linear-gradient(to bottom, #818282 50%, #727373 50%);
  position: absolute;
  top: -22px;
  z-index: 1;
  box-shadow: 0 0 5px #707070;
  transition: all 0.3s ease 0s;
}

.pricing-content ul:before {
  left: 44px;
}

.pricing-content ul:after {
  right: 44px;
}

.pricing-content ul li {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid #d9d9d8;
}

.pricingTable li:last-child {
  border-bottom: none;
}

.not-button {
  width: 200px;
  height: 40px;
  display: inline-block;
  color: #fff;
  background: #1571FD;
}

@media screen and (max-width: 991px) {
  .pricingTable {
    margin-bottom: 25px;
  }
}


/* CONTACT */
.contact {
  background-color: white;
  max-width: 80%;
  position: relative;
  text-align: center;
  letter-spacing: 3px;
  line-height: 48px;
}

.form-field {
  position: relative;
}

.input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: grey;
  line-height: 26px;
  font-weight: 400;
}

.input-text:focus {
  outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.label {
  position: absolute;
  left: 20px;
  line-height: 26px;
  font-weight: 400;
  color: silver;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}

.normal-label {
  bottom: 25px;
}

.message-textarea {
  height: 100px;
}

.message-label {
  bottom: 95px;
}

.submit-btn {
  display: inline-block;
  background-color: #dfe2e2;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  width: 200px;
  cursor: pointer;
}

/* VIDEO */
.video-size {
  height: 315px;
  width: 400px;
}

/* HOMEPAGE LINKS */
.card-cta {
  width: 400px;
  height: 400px;
}

.card-img-top {
  height: 200px;
  width: 100%
}

/* FOOTER */
#footer {
  color: grey;
}

.social-icon {
  color: white;
}

.social-icon:hover {
  color: #1571FD;
}
